<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {% if base_href -%}
    <base href="{{ base_href }}">
  {%- endif %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
  <script src="script.js" defer></script>
</head>
<body lang="{{ locale|string|replace('_', '-') }}">
  <header>
    <nav>
      {% for lang, href in lang_hrefs %}
        {% with l = lang|string|replace('_', '-') %}
          <a href="{{ href }}"
             hreflang="{{ l }}"
             rel="{% if lang==locale %}canonical{% else %}alternate{% endif %}"
             lang="{{ l }}"
             title="{{ lang.get_display_name(locale) }}">
            {{- lang.get_display_name(lang) -}}
          </a>
        {% endwith %}
      {% endfor %}
    </nav>
  </header>
  {{- doc -}}
</body>
</html>
{# vim: set et sw=2 ts=2 sts=2 ft=jinja: #}
