Babel >= 2.9.0, < 3.0.0
commonmark >= 0.9.1, < 1.0.0
cached-property >= 1.5.2, < 1.6.0
dragonmapper >= 0.2.6, < 0.3.0
hangul-romanize >= 0.1.0, < 0.2.0
hanja >= 0.15.1, < 0.16.0
html5validator >= 0.4.0, < 0.5.0
git+https://github.com/BYVoid/OpenCC.git@ver.1.1.1#egg=opencc&subdirectory=python; sys_platform != "linux"
Jinja2 >= 3.0.1, < 3.1.0
lazy-import >= 0.2.2, < 0.3.0
lxml >= 4.9.1, < 4.10.0
lxml-stubs >= 0.1.1, < 0.2.0
Markdown >= 3.3.3, < 3.4.0
MarkupSafe >= 2.0.1, < 3.0.0
mypy >= 0.790, < 1
opencc-py >= 1.1.0, < 2.0.0; sys_platform == "linux"
pinyin_jyutping_sentence >= 0.9, < 1.0
pykakasi >= 2.3.0, < 2.4.0
PyYAML >= 6.0.1, < 7.0.0
types-Markdown >= 3.3.3, < 3.4.0
types-PyYAML >= 5.4.0, < 6.0.0
yamllint >= 1.25.0, < 1.26.0
