<!DOCTYPE html>
<html lang="{{ locale|string|replace('_', '-') }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" type="text/css" href="{{ rebase_url('style.css') }}">
  <script src="{{ rebase_url('script.js') }}" defer></script>
</head>
<body>
  <header>
    <nav>
      {% for lang, href in lang_hrefs %}
        {% with l = lang|string|replace('_', '-') %}
          <a href="{{ rebase_url(href) }}"
             hreflang="{{ l }}"
             rel="{% if lang==locale %}canonical{% else %}alternate{% endif %}"
             lang="{{ l }}"
             title="{{ lang.get_display_name(locale) }}">
            {{- lang.get_display_name(lang) -}}
          </a>
        {% endwith %}
      {% endfor %}
      <a href="https://github.com/dahlia/cjk-compsci-terms"
         rel="source-code">GitHub</a>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/"
         rel="license">CC BY-SA 4.0</a>
    </nav>
  </header>
  {{- doc -}}
</body>
</html>
{# vim: set et sw=2 ts=2 sts=2 ft=jinja: #}
